# Configuration Reference
{{ template "chart.deprecationWarning" . }}

{{ template "chart.badgesSection" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

The following table lists the configurable parameters of the `currents` chart and their default values:

{{ template "chart.valuesSection" . }}
